*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    background-image: url("fotos/backk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text{
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}

h1{
   color: #fff;
}

.galeria{
    margin: 4% 40px;
}

.foto{
    margin-top: 50px;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.foto a img{
    margin: 2% 30px;
    border: 2px solid rgb(61, 49, 45);
    border-radius: 20px;
    width: 60%;
}

.video{
    display: flex;
    justify-content: space-between; 
    padding: 75px;
    margin-bottom: 50px;

}
